<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/nav') %>

        <div class="container mt-3">

            <form method="post" enctype="multipart/form-data">

            <div class="row my-5 gx-5">

                    <div class="col-md-10">

                        <input type="hidden" name="blogid" value="<%= blog.id%>">
                        <input type="hidden" name="image" value="<%= blog.image%>">
                        <div class="row mb-3">
                            <label for="title" class="col-sm-1 col-form-label">Başlık</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="title" name="title"
                                    value="<%= blog.title %>">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="description" class="col-sm-1 col-form-label">Açıklama</label>
                            <div class="col-sm-11">
                                <textarea name="description" class="form-control"
                                    rows="10"><%= blog.description %></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="image" class="col-sm-1 col-form-label">Resim</label>
                            <div class="col-sm-11">
                                <img src="/static/images/img/<%= blog.image%>" alt="" width="120px">
                                <input type="file" class="form-control" id="image" name="image">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-11 offset-sm-1">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <div class="row">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="homepage" name="homepage"
                                        <%=blog.homepage?"checked":"" %>>
                                    <label class="form-check-label" for="homepage">
                                        Anasayfa
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="confirmation"
                                        name="confirmation" <%=blog.confirmation?"checked":"" %> />
                                    <label class="form-check-label" for="confirmation">
                                        Onay
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row border-top pt-3">
                            <% categories.forEach(category => { %>

                                <div class="col-sm-10 offset-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input" 
                                            type="checkbox" 
                                            id="category_<%= category.id %>"
                                            name="categories[]"
                                            value="<%= category.id %>" 
                                            <%=blog.categories.some(cat=> cat.id == category.id) ? "checked": "" %> />

                                        <label class="form-check-label" for="category_<%= category.id %>">
                                            <%= category.name %>"
                                        </label>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>

                </form>
            </div>
        </div>
</body>

</html>